* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: black;
}
#header {
    width:100%;
    height: 20vh;
    background-image: url();
    background-size: cover;
    background-position: center-right;
}
.container{
    padding: 5px 5%;
}
.subttle{
    margin-top: 40px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 500;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 5px;
    background: #d000ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}




#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    color: white;
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#d000ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow:hidden ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40PX;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #d000ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.2);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #d000ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
}
.btn:hover{
    background: #d000ff;
}